body{
    background-image: url("grass.png");
    margin: 0px;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.class_A {
    width: 250px;
    height: 212px;
}

.alert{
    font-size: 1rem;
    margin: 0.1rem;
    padding: 0.25rem;
}

.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 3px  30px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: greenyellow;
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 16px;
    border-radius: 50%;
    background: red;
    color: white;
  }


  /* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.progressBar {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  /* padding-top: 10px; /* Add top padding */
  /* padding-bottom: 10px; Add bottom padding */ */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #f44336;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */


.checked {
    color: orange;
  }